<VirtualHost *:80>
## Redirige le HTTP vers le HTTPS ##
Redirect permanent "/" "https://srvdebian.tux.lan/"
</VirtualHost>

<VirtualHost *:443>
    DocumentRoot /var/www/html/srvdebian/
    ServerName srvdebian.tux.lan
    SSLEngine on
    SSLCertificateFile /etc/ssl/srvdebian/srvdebian.crt
    SSLCertificateKeyFile /etc/ssl/srvdebian/srvdebian.key
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

<Directory /var/www/html/srvdebian>
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted
</Directory>

</VirtualHost>
