<VirtualHost *:80>
## Redirige le HTTP vers le HTTPS ##
Redirect permanent "/" "https://srvrockylinux.tux.lan/"
</VirtualHost>

<VirtualHost *:443>
    DocumentRoot /var/www/html/srvrockylinux
    ServerName srvrockylinux.tux.lan
    SSLEngine on
    SSLCertificateFile /etc/ssl/srvrockylinux/srvrockylinux.crt
    SSLCertificateKeyFile /etc/ssl/srvrockylinux/srvrockylinux.key
    ErrorLog /var/log/httpd/error.log
    CustomLog /var/log/httpd/access.log combined

<Directory /var/www/html/srvrockylinux>
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted
</Directory>

</VirtualHost>
